body {
  width: 100%;
  background-color: #f5f6fa;
  display: flex;
}
.table-box {
  width: 100%;
  height: 60px;
  background-color: #fff;
  padding: 0 40px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-box .table-left {
  height: 50%;
}
.table-box .table-left img {
  height: 100%;
}
.table-box .table-right {
  height: 50%;
  display: flex;
  align-items: center;
}
.table-box .table-right .bzzx {
  color: gray;
  font-size: 14px;
  transition: color 0.2s;
}
.table-box .table-right .bzzx:hover {
  color: #25c77e;
}
.table-box .table-right .fgx {
  width: 1px;
  height: 50%;
  background-color: gainsboro;
  margin: 0 10px;
}
.table-box .table-right .xx-icon {
  height: 70%;
}
.table-box .table-right .xx-icon img {
  height: 100%;
}
.table-box .table-right .tx-nc {
  height: 120%;
  display: flex;
  align-items: center;
  margin: 0 16px;
}
.table-box .table-right .tx-nc li {
  height: 100%;
  width: 36px;
  border-radius: 50%;
  background-color: #000;
  overflow: hidden;
}
.table-box .table-right .tx-nc li img {
  width: 100%;
  transition: all 0.2s;
}
.table-box .table-right .tx-nc li img:hover {
  transform: scale(1.2);
  opacity: 0.6;
}
.table-box .table-right .tx-nc span {
  color: gray;
  font-size: 14px;
  margin: 0 10px;
}
.left-table {
  width: 18%;
  padding: 100px 0 40px 40px;
  box-sizing: border-box;
}
.left-table .left-table-box1 {
  display: block;
  width: 80%;
  line-height: 40px;
  background-color: #25c77e;
  border-radius: 40px;
  text-align: center;
  color: #fff;
  transition: background-color 0.2s;
}
.left-table .left-table-box1:hover {
  background-color: #6adca8;
}
.left-table .left-table-box2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.left-table .left-table-box2 h1 {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}
.left-table .left-table-box2 h1 img {
  height: 60%;
  margin-right: 10px;
}
.left-table .left-table-box2 h1 span {
  display: inline-block;
  font-size: 16px;
  color: gray;
}
.left-table .left-table-box2 li {
  height: 40px;
}
.left-table .left-table-box2 li a {
  font-size: 12px;
  font-weight: 100;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  transition: color 0.2s;
}
.left-table .left-table-box2 li a:hover {
  color: #25c77e;
}
.content-box {
  width: 80vw;
  display: flex;
  flex-direction: column;
}
.content-box1 {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  height: 70px;
  margin: 100px 40px 0 0 ;
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;
}
.content-box1 .content-box1-left {
  display: flex;
  align-items: center;
}
.content-box1 .content-box1-left nav {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.content-box1 .content-box1-left nav img {
  width: 100%;
}
.content-box1 .content-box1-left a {
  color: #000;
  transition: color 0.1s;
  font-size: 16px;
}
.content-box1 .content-box1-left a:hover {
  color: #25c77e;
}
.content-box1 .content-box1-right {
  display: flex;
  align-items: center;
  height: 100%;
}
.content-box1 .content-box1-right .content-box1-fgx {
  width: 1px;
  height: 20%;
  background-color: #c7c7c7;
  margin: 0 20px;
}
.content-box1 .content-box1-right span {
  color: gray;
  margin-left: 20px;
  font-size: 16px;
}
.content-box1 .content-box1-right a {
  color: #000;
  transition: color 0.1s;
  font-size: 16px;
}
.content-box1 .content-box1-right a:hover {
  color: #25c77e;
}
.content-box2 {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  margin: 20px 40px 0 0 ;
  display: flex;
  align-items: center;
  padding: 30px 30px;
  justify-content: space-between;
}
.content-box2 .content-box2-left {
  display: flex;
}
.content-box2 .content-box2-left .tx-bz {
  margin-right: 30px;
  position: relative;
  width: 100px;
  height: 100px;
}
.content-box2 .content-box2-left .tx-bz .content-box2-left-tx {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-color: #000;
}
.content-box2 .content-box2-left .tx-bz .content-box2-left-tx img {
  width: 100%;
}
.content-box2 .content-box2-left .tx-bz .bz {
  position: absolute;
  right: 0;
  bottom: 0;
}
.content-box2 .content-box2-left .nc-btn {
  margin-top: 20px;
  display: flex;
  height: 24px;
}
.content-box2 .content-box2-left .nc-btn h2 {
  font-size: 24px;
  font-weight: bold;
}
.content-box2 .content-box2-left .nc-btn a {
  display: block;
  line-height: 24px;
  width: 70px;
  text-align: center;
  border-radius: 30px;
  background-color: #25c77e;
  margin-left: 20px;
  color: #fff;
  transition: color 0.2s;
  font-size: 12px;
}
.content-box2 .content-box2-left .nc-btn a:hover {
  background-color: #6adca8;
}
.content-box2 .content-box2-right {
  height: 100px;
  display: flex;
}
.content-box2 .content-box2-right .content-box2-right1 {
  justify-content: space-evenly;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f5f6fa;
}
.content-box2 .content-box2-right .content-box2-right1 .cbr1-zs {
  display: flex;
  align-items: center;
}
.content-box2 .content-box2-right .content-box2-right1 .cbr1-zs span {
  font-size: 14px;
  font-weight: 200;
  color: gray;
}
.content-box2 .content-box2-right .content-box2-right1 .cbr1-zs img {
  width: 20px;
}
.content-box2 .content-box2-right .content-box2-right1 h2 {
  font-size: 24px;
}
.content-box2 .content-box2-right .content-box2-right1 .cbr1-jzr {
  display: flex;
}
.content-box2 .content-box2-right .content-box2-right1 .cbr1-jzr span {
  font-size: 12px;
  margin-right: 10px;
}
.content-box2 .content-box2-right .content-box2-right2 {
  height: 100%;
  width: 100px;
  margin-left: 10px;
  border-radius: 6px;
  background-color: #f5f6fa;
}
.content-box2 .content-box2-right .content-box2-right3 {
  height: 100%;
  width: 100px;
  margin-left: 10px;
  border-radius: 6px;
}
